<!DOCTYPE html>
<html>
<head>
	<title>My inventory app</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div class="container">


<div id="open"> <img id ="opensvg" src="open.svg"></div>
<div class="sidebar">
<img  src="x.svg" id="close" >
	<div id="title">Sidebar</div>
<div class ="navbar">
	Create
</div>
<div class ="navbar">
	Update
</div>
<div class ="navbar">
	Delete
</div>
<div class ="navbar">
	Retrieve
</div>

</div>

</div>
<script type="text/javascript" src="script.js"></script>
</body>
</html>