<!DOCTYPE html>
<html>
<head>
	<title>My inventory app</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<div class="container">

<div id="open"> <img id ="opensvg" src="open.svg" ></div>
<div class="sidebar">

	<img  src="x.svg" id="close" >

<div class="navbar" id="title">
 <a href="">Sidebar</a> 
</div>
<div class ="navbar">
<a href="">Create</a>	
</div>
<div class ="navbar">
<a href="">Update</a>	
</div>
<div class ="navbar">
<a href="">Delete</a>	
</div>
<div class ="navbar">
<a href="">Retrieve</a>	
</div>

</div>
<div class="content"> 
	<div id="name">My Inventory App </div>
	{{#each messages as |m|}}
<div class="card">
{{ m.text }} <br>
{{ m.user }} <br>
{{ m.added }} <br>
</div>
{{/each}}
</div>
</div>
<script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>