@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
body{
	margin:0;
}

.sidebar{
	font-family: 'Cutive Mono', monospace;
	font-weight: 500;
	height:100vh;
	background-color:#484d51;
	font-size:2em;
	
	display: grid;
    grid-template-columns:50% 50%;

    grid-template-rows: 10% repeat(5,10%); 
    grid-row-gap: 8px;
    grid-auto-flow: column;
    grid-column: 1/span 2;
    grid-row: 1;  
    z-index: 2;
    transition: 0.5s ease;
    position: fixed;
}

.container{
	display: grid;
    grid-template-columns: 5% 10% auto;
    grid-template-rows: 10% auto;
    overflow: hidden;
}
.sidebar-content{
    
    font-size: large;
    cursor: pointer;
    padding-left: 10%;
}   
#sidebar-title{
	font-size: 1.2em;
}

.sidebar-content:hover{
	
}
#closed-sidebar{
	grid-row: 1;
	grid-column: 1;
	height: 100vh;
	background-color:#484d51;
    z-index: 1;
    width: 5vw;
    position: fixed;
}
#opensvg{
	width: 50%;
	cursor: pointer;
	float: right;
}
#close{
	width: 20%;
	margin-left:auto;
	float: right;
	cursor: pointer;
	grid-column: 1/3;
}

.collapse{
	transform: translateX(-100%);
	transition: 0.5s ease;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color:black;
}
.content{
	color: #212529;
	grid-column-start: 3;
	grid-row-start: 2;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    align-content: flex-start;
    font-family: 'Cutive Mono', monospace;
	}
.card{
	background-color: #212529;
	color: white;
	height: 20vh;
	width: 30vh;
	margin: 2%;
	padding: 3%;
	border-radius: 12px;
	box-shadow: 5px 10px black;
}
.navbar{
	width: 100vw;
	background-color: #212529;
	grid-column-start: 1;
	grid-row-start: 1;
	z-index: 0;
	
	
}
#title{
	font-family: 'Cutive Mono', monospace;
	color: white;
    text-align: center ;
	font-size: 4em;
}
#search{

	
	margin-top:20%;
	align-self: end;
	border: 0px;
	border-radius: 2px;
	outline: none;
}
